/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html
{
	font-size: 16px;
	font-family: arial;
	font-size: 75%; /* 1em = 12px */
	background: white;
	text-align: center;
	vertical-align: middle;
}
@media screen and (max-width: 800px){
	html{
		font-size: 55%;
	}
}
.header{
	width: 100%;
}
h1{
	font-size: 150%;
	font-style: bold;
	text-transform: uppercase;
	margin: 0 0 2px 0;
}
h2{
	font-size: 150%;
	font-style: bold;
	margin: 0 0 2px 0;
}
h3{
	font-size: 100%;
	font-style: oblique;
	margin: 0 0 2px 0;
}
.main{
	float: left;
	width: 100%;
	margin: 0 auto;
}
.menu{
	list-style-type: none;
	font-size: 90%;
	width: 80%;
	margin: 2px auto;
	padding: 0;
}
.hlink,.tlink2,.tlink3,.blink{
	float: left;
	font-weight: bold;
	text-decoration: none;
}
.hlink{
	color: black;
	text-transform: uppercase;
	background: rgb(198,217,241);
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 4px 0.5%;
	width: 20%;
	margin: 0 2%; /* [100% - (#buttons/#rows)*(%width) - (2) *(#buttons/#rows)*(%LRpadding)] / [2 * (#buttons/#rows)] */
}
.action{
	list-style-type: none;
	font-size: 90%;
	width: 100%;
	margin: 2px auto;
	padding: 0;
}
.tlink2{
	color: rgb(31,73,125);
	background: rgb(228,237,248);
	border: none;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 2px 0.5%;
	width: 40%;
	margin: 2px 4.5%; /* [100% - (#buttons/#rows)*(%width) - (2) *(#buttons/#rows)*(%LRpadding)] / [2 * (#buttons/#rows)] */
}
.tlink3{
	color: rgb(31,73,125);
	background: rgb(228,237,248);
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 2px 0.5%;
	width: 30%;
	margin: 2px 1.16666%; /* [100% - (#buttons/#rows)*(%width) - (2) *(#buttons/#rows)*(%LRpadding)] / [2 * (#buttons/#rows)] */
}
.blink{
	color: rgb(31,73,125);
	background: rgb(228,237,248);
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 2px 0.5%;
	width: 80%;
	margin: 2px 9.5%; /* [100% - (#buttons/#rows)*(%width) - (2) *(#buttons/#rows)*(%LRpadding)] / [2 * (#buttons/#rows)] */
}
.hlink:hover,.tlink2:hover,.tlink3:hover,.blink:hover{
	color: white;
	background: rgb(31,73,125);
}
@media screen and (max-width: 500px){
	.hlink{
		padding: 4px 0.5%;
		width: 40%;
		margin: 4px 4.5%; /* [100% - (#buttons/#rows)*(%width) - (2) *(#buttons/#rows)*(%LRpadding)] / [2 * (#buttons/#rows)] */
	}
	.tlink2{
		padding: 2px 0.5%;
		width: 80%;
		margin: 2px 9.5%; /* [100% - (#buttons/#rows)*(%width) - (2) *(#buttons/#rows)*(%LRpadding)] / [2 * (#buttons/#rows)] */
	}
	.tlink3{
		padding: 2px 0.5%;
		width: 80%;
		margin: 2px 9.5%; /* [100% - (#buttons/#rows)*(%width) - (2) *(#buttons/#rows)*(%LRpadding)] / [2 * (#buttons/#rows)] */
	}
}
.field{
	width: 99%;
}
.description{
	width: 99%;
	height: 30px;
	min-height: 30px;
	resize: vertical;
}
.button{
	font-family: arial;
	font-size: 98%;
}