table,th,td	
{	
	font-family: arial;
	font-size: 16 px;
	border: 1px solid black;
	border-collapse: collapse;
	background: white;
	padding: 2px;
	text-align: center;
	vertical-align: middle;
}	
table	
{	
	width: 75%;
	border: none;
	background: white;
}	
.top	
{	
	font-size: 1.2em;
	background: rgb(31,73,125);
	color: white;
}	
.sub	
{	
	font-style: italic;
	background: rgb(198,217,241);
	color: black;
}	
td	
{	
	font-size: 0.9em;
}	
.c1	
{	
	width: 50%;
	text-align: left;
}	
.c3	
{	
	width: 10%;
	text-align: left;
}	
