table,th,td{	
	border: 1px solid black;
	border-collapse: collapse;
	padding: 0.5%;
	text-align: center;
	vertical-align: middle;
}
.table{
	float: left;
	width: 100%;
	margin: 10px 0;
}
table{	
	width: 90%;
	border: none;
	background: white;
	margin: 0 auto;
}	
.top{	
	font-size: 1.2em;
	background: rgb(31,73,125);
	color: white;
}	
.sub{	
	font-style: italic;
	background: rgb(84,141,212);
	color: white;
}	
td{	
	font-size: 1em;
}	
.c1{	
	width: 25%;
	text-align: left;
}
.c2{
	width: 25%;
	text-align: left;
}
.c3{	
	width: 15%;
	text-align: center;
}
.c4{
	text-align: center;
}
